[submodule "src/tf_bot"]
	path = src/tf_bot
	url = git@github.com:lwehmeier/tf_bot.git
[submodule "src/mouse_odom"]
	path = src/mouse_odom
	url = git@github.com:lwehmeier/mouse_odom.git
[submodule "src/gyro_odom"]
	path = src/gyro_odom
	url = git@github.com:lwehmeier/gyro_odom.git
[submodule "src/erlang_bridge"]
	path = src/erlang_bridge
	url = git@github.com:lwehmeier/erlang_bridge.git
[submodule "src/combined_odom"]
	path = src/combined_odom
	url = git@github.com:lwehmeier/combined_odom.git
[submodule "src/hector_slam"]
	path = src/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam
[submodule "src/launch_slam"]
	path = src/launch_slam
	url = git@github.com:lwehmeier/launch_slam.git
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "src/openslam_gmapping"]
	path = src/openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/robopeak/rplidar_ros
[submodule "src/ydlidar"]
	path = src/ydlidar
	url = git@github.com:lwehmeier/ydlidar
[submodule "src/navigation"]
	path = src/navigation
	url = git@github.com:ros-planning/navigation.git
[submodule "src/teb_local_planner"]
	path = src/teb_local_planner
	url = git@github.com:lwehmeier/teb_local_planner
[submodule "src/eband_local_planner"]
	path = src/eband_local_planner
	url = https://github.com/utexas-bwi/eband_local_planner
[submodule "src/costmap_converter"]
	path = src/costmap_converter
	url = https://github.com/rst-tu-dortmund/costmap_converter
[submodule "src/base_controller"]
	path = src/base_controller
	url = git@github.com:lwehmeier/base_controller.git
[submodule "src/bot_2dnav"]
	path = src/bot_2dnav
	url = git@github.com:lwehmeier/bot_2dnav
[submodule "src/coordinate_mover"]
	path = src/coordinate_mover
	url = git@github.com:lwehmeier/coordinate_mover.git
[submodule "src/slam_tf_buffer"]
	path = src/slam_tf_buffer
	url = git@github.com:lwehmeier/slam_tf_buffer
[submodule "src/energy_monitor"]
	path = src/energy_monitor
	url = git@github.com:lwehmeier/energy_monitor
[submodule "src/vl6180_sim"]
	path = src/vl6180_sim
	url = git@github.com:lwehmeier/vl6180_sim
[submodule "src/odom_estimator"]
	path = src/odom_estimator
	url = git@github.com:lwehmeier/odom_estimator
[submodule "src/hector_covariance_calculator"]
	path = src/hector_covariance_calculator
	url = git@github.com:lwehmeier/hector_covariance_calculator.git
[submodule "src/battery_warner"]
	path = src/battery_warner
	url = git@github.com:lwehmeier/battery_warner
[submodule "src/probabilistic_collision_checker"]
	path = src/probabilistic_collision_checker
	url = git@github.com:lwehmeier/probabilistic_collision_checker
[submodule "src/vl6180"]
	path = src/vl6180
	url = git@github.com:lwehmeier/vl6180_node
[submodule "src/local_pathfinder"]
	path = src/local_pathfinder
	url = git@github.com:lwehmeier/local_pathfinder
[submodule "src/ros-system-monitor"]
	path = src/ros-system-monitor
	url = git@github.com:lwehmeier/ros-system-monitor
[submodule "src/hector_localisation"]
	path = src/hector_localisation
	url = git@github.com:lwehmeier/hector_localisation
[submodule "src/estop_mgr"]
	path = src/estop_mgr
	url = git@github.com:lwehmeier/estop_mgr
[submodule "src/local_obj_detector"]
	path = src/local_obj_detector
	url = git@github.com:lwehmeier/local_obj_detector
